body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #343a40;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 24px; 
    line-height: 1.6; 
    color: #c12020;
    background-color: #f8f8f8; 
    padding: 15px; 
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #ced4da; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 15px; 
}

ul {
    list-style-type:none;
    padding: 20px;
}

li {
    background: #fbfdfe;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

li strong {
    color: #495057;
}

button {
    margin-top: 20px;
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 10px;
}
